body .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--background);

    margin: 0 0;
    padding: 0;
}

.container .asideLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

.container .asideLeft img {
    width: 77%;
}

.container .asideRight {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
    width: 50%;
}

.container .asideRight img.logo {
    width: 50%;
}

.container .asideRight div.phrases {
    position: absolute;
    margin-top: 7rem;
}

.container .asideRight div.phrases h2 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.container .asideRight div.phrases p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--white);
}

.container .asideRight div.ergonomy img {
    width: 100%;
    margin-top: 2rem;
    position: relative;
}

.container .asideLeft .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 2.5rem;
    border-radius: 10px;
    background: var(--blue-twitter);
    color: var(--white);
    font: 600 1rem Poppins;
    border: 0;
}

.container .asideLeft .button:hover {
    background: var(--blue);
}

.container .asideLeft .button img {
    width: 10%;
}